@import "../../vars.css";

.container {
  padding: 150px 0;
  background-color: var(--color-bg);
  margin: auto;
}

.content {
  display: flex;
  max-width: 980px;
  width: 100%;
  margin: auto;
  align-items: center;
}

.imgSide {
  flex: 1;
  width: 100%;
  border-radius: 2px;
  padding-right: 3rem;
  position: relative; /* Required for positioning the shadow box */
  overflow: hidden; /* Hide any overflowing shadow */
}

.imgSide img {
  border-radius: 1.7rem;
  width: 100%;
}

.textSide {
  flex: 1;
  color: var(--color-text);
}

.textSide h3 {
  color: var(--color-secondary);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.textSide h4 {
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 1.1;
  font-family: Poppins, sans-serif;
  margin-bottom: 0.8rem;
}

.textSide p {
  color: #767676;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 50px 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .imgSide {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1rem; /* 增加图片与文字之间的间距 */
  }

  /* .imgSide {
    flex: 1;
    border-radius: 2px;
    padding-right: 1rem;
  } */

  .textSide {
    width: 100%; /* 限制文本的最大宽度 */
    margin: 0 auto; /* 在移动端居中文本 */
  }
}
