@import "../../vars.css";

footer {
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.Content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: #fff;
}

.footerc h3 {
  color: #fff;
  font-size: 1.7rem;
}

.socialLinks {
  font-weight: 400;
  padding: 0 1rem;
}

.socialLinks i {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0 0.5rem;
  color: #fff;
}
