:root {
  /* Colours */
  --color-text: #2d2e32;
  --color-primary: #f9f9f9;
  --color-secondary: #147efb;
  --color-dark: #0b2447;
  --color-bg: #fff;

  /* Fonts */
  /* --font-roboto: "Roboto"; */
}
